@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";
@import "vue-select/dist/vue-select.css";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}
.tableoneline {
    white-space: nowrap !important;
    width: 1% !important;
}
